@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');


body { background-color: #FFFFFF;
    color: #666666;
    ;
}
#wrapper {
    background-color: #90C7E3;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
header { 
        background-color: #000033;
        color: #FFFFFF;
        font-family: 'Roboto Mono', monospace;
        text-align: center; 
}

h1 { 
    line-height: 200%; 
    text-align: center;
}

h2 { 
    color: #3399CC;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

}
footer { 
        background-color: #eaeaea;
        font-size: .70em;
        font-style: italic;
        text-align: center; 
}
